<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}  {% endblock %} | Sistema de Gestión de Autobuses</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/busetatemplate/css/bootmetro.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/busetatemplate/css/bootstrap-responsive.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/busetatemplate/css/metro-ui-light.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/busetatemplate/css/icomoon.css') }}" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/busetatemplate/css/demo.css') }}" media="screen">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}

{% include "::javascripts.html.twig" %}
{% block javascripts %}{% endblock %}
</body>
</html>
