<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Buscar...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ path('core_homepage') }}"><i class="fa fa-dashboard fa-fw"></i> Página Principal</a>
            </li>


            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> Gestión de Nomencladores<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Aceitecajacambios_list') }}">Aceite Caja Cambios</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Aceitehidraulico_list') }}">Aceite Hidráulico</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Aceitemotor_list') }}">Aceite Motor</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Aceitetransmision_list') }}">Aceite Transmisión</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Categoria_list') }}">Categoría</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Color_list') }}">Color</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Combustible_list') }}">Combustible</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Estilo_list') }}">Estilo</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Marca_list') }}">Marca de Autobús</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Modelo_list') }}">Modelo de Autobús</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Grupo_list') }}">Grupo</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Subgrupo_list') }}">Subgrupo</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Marcamotor_list') }}">Marca de Motor</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Tipocontacto_list') }}">Tipo de Contacto</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Uom_list') }}">Unidad de Medida (UOM)</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Moneda_list') }}">Moneda</a>
                    </li>
                    <li>
                        <a href="{{ path('Buseta_NomencladorBundle_Tipocompra_list') }}">Tipo de Compra</a>
                    </li>

                </ul>
                <!-- /.nav-second-level -->
            </li>


        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->