{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Listado de productos
{% endblock %}

{% block titulo_encabezado %}
    Listados de productos
{% endblock %}

{% block area_trabajo %}

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('producto_new') }}"><i class="fa fa-plus-circle"></i> Adicionar producto</a>
    </div>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>U/M</th>
            <th>Categoría</th>
            <th>Precio/Costo</th>
            <th>Precio/Salida</th>
            <th>Activo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.uom }}</td>
                <td>{{ entity.categoria }}</td>
                <td>{{ entity.preciocosto }}</td>
                <td>{{ entity.preciosalida }}</td>
                <td>
                    {% if entity.activo == 1 %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td  style="width: 18% !important; text-align: center;">
                    <div class="btn-group">
                        <a class="btn btn-success btn-xs" href="{{ path('producto_show', { 'id': entity.id }) }}"><i class="fa fa-search"> Mostrar</i></a>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-danger btn-xs" href="{{ path('producto_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"> Editar</i></a>
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No se encontraron registros de productos en el sistema.</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

{% endblock %}