{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Datos del producto: "{{ entity.nombre }}"
{% endblock %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
    <tbody>

    <tr>
        <th>Nombre</th>
        <td>{{ entity.nombre }}</td>
    </tr>
    <tr>
        <th>Código</th>
        <td>{{ entity.codigo }}</td>
    </tr>
    <tr>
        <th>Unidad de medida (U/M)</th>
        <td>{{ entity.uom }}</td>
    </tr>
    <tr>
        <th>Categoría</th>
        <td>{{ entity.categoria }}</td>
    </tr>
    <tr>
        <th>Precio de costo</th>
        <td>{{ entity.preciocosto }}</td>
    </tr>
    <tr>
        <th>Precio de salida</th>
        <td>{{ entity.preciosalida }}</td>
    </tr>
    <tr>
        <th>Bodega</th>
        <td>{{ entity.bodega }}</td>
    </tr>
    <tr>
        <th>Activo</th>
        <td>
            {% if entity.activo == 1 %}
                Sí
            {% else %}
                No
            {% endif %}
        </td>
    </tr>

    </tbody>
    </table>


    <div class="form-actions">
        {{ form_start(delete_form) }}
        <a class="btn btn-primary" href="{{ path('producto_edit', { 'id': entity.id }) }}"> Editar</a>
        <a class="btn btn-primary" href="{{ path('producto') }}"> Listado</a>
        <button type="sumbit" class="btn btn-primary">Eliminar</button>
        {{ form_end(delete_form) }}
    </div>

{% endblock %}


{% block contenido %}


{% endblock %}
