{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Listado de bodegas
{% endblock %}

{% block titulo_encabezado %}
    Listado de bodegas
{% endblock %}

{% block area_trabajo %}

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('bodega_new') }}"><i class="fa fa-plus-circle"></i> Adicionar Bodega</a>
    </div>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if entity.codigo == '' %}
                        <label style="color: red">No tiene</label>
                    {% else %}
                        {{ entity.codigo }}
                    {% endif %}
                </td>
                <td>{{ entity.nombre }}</td>
                <td>
                    {% if entity.descripcion == '' %}
                        <label style="color: red">No tiene</label>
                    {% else %}
                        {{ entity.descripcion }}
                    {% endif %}
                </td>
                <td>
                    {% if entity.direccion == '' %}
                        <label style="color: red">No tiene</label>
                    {% else %}
                        {{ entity.direccion }}
                    {% endif %}
                </td>

                <td  style="width: 18% !important; text-align: center;">
                    <div class="btn-group">
                        <a class="btn btn-success btn-xs" href="{{ path('bodega_show', { 'id': entity.id }) }}"><i class="fa fa-search"> Mostrar</i></a>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-danger btn-xs" href="{{ path('bodega_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"> Editar</i></a>
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No se encontraron registros de bodegas en el sistema.</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

{% endblock %}