{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Adicionar nueva bodega
{% endblock %}

{% block area_trabajo %}

    <form action="{{ path('bodega_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="row show-grid">
            <div class="col-md-6">
                <label>Código:</label>
                {{ form_widget(form.codigo) }}
            </div>

            <div class="col-md-6">
                <label>Nombre de bodega:</label>
                {{ form_widget(form.nombre) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-6">
                <label>Descripción:</label>
                {{ form_widget(form.descripcion) }}
            </div>

            <div class="col-md-6">
                <label>Dirección:</label>
                {{ form_widget(form.direccion) }}
            </div>
        </div>



        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('bodega') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}