{% extends "BusetaTallerBundle::layout.html.twig" %}

{% form_theme edit_form.lineas 'BusetaTemplateBundle:Widgets:collection_linea_insertadas.html.twig' %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Adicionar nueva compra
{% endblock %}

{% block area_trabajo %}

    {{ form_start(edit_form) }}
    <div class="row show-grid">
        <div class="col-md-6">
            {{ form_row(edit_form.numero) }}
        </div>

        <div class="col-md-6">
            {{ form_row(edit_form.tercero) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-12">
            {{ form_row(edit_form.descripcion) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(edit_form.tipo) }}
        </div>

        <div class="col-md-4">
            {{ form_row(edit_form.fecha_pedido) }}
        </div>

        <div class="col-md-4">
            {{ form_row(edit_form.estado) }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ form_row(edit_form.lineas) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            <div class="btn-group" style="padding-bottom: 8px;">
                <a data-toggle="modal" data-target="#newLinea" class="btn btn-primary" href="#"><i class="fa fa-plus-circle"></i> Adicionar línea</a>
            </div>
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(edit_form.forma_pago) }}
        </div>

        <div class="col-md-4">
            {{ form_row(edit_form.condiciones_pago) }}
        </div>

        <div class="col-md-4">
            {{ form_row(edit_form.moneda) }}
        </div>
    </div>

    <div class="row show-grid">
        <div class="col-md-4">
            {{ form_row(edit_form.importe_libre_impuesto) }}
        </div>

        <div class="col-md-4">
            {{ form_row(edit_form.importe_con_impuesto) }}
        </div>

        <div class="col-md-4">
            {{ form_row(edit_form.importe_general) }}
        </div>
    </div>


    <div class="row show-grid">
        <div class="col-md-4">
            <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
            <div class="btn-group">
                <a class="btn btn-primary" href="{{ path('impuesto') }}"> Cancelar</a>
            </div>
        </div>
    </div>

    {{ form_rest(edit_form) }}
    {{ form_end(edit_form) }}


    <!-- Modal -->
    <div class="modal fade" id="newLinea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 850px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title" id="myModalLabel">Datos de nueva línea</h3>
                </div>
                <div class="modal-body" style="width: 800px;">
                    <form action="{{ path('linea_compra_create') }}" method="post" {{ form_enctype(linea) }}>
                        <div class="row show-grid">
                            <div class="col-md-4">
                                {{ form_row(linea.numero) }}
                            </div>

                            <div class="col-md-4">
                                {{ form_row(linea.tipo) }}
                            </div>

                            <div class="col-md-4">
                                {{ form_row(linea.producto) }}
                            </div>
                        </div>

                        <div class="row show-grid">
                            <div class="col-md-4">
                                {{ form_row(linea.impuesto) }}
                            </div>

                            <div class="col-md-4">
                                {{ form_row(linea.cantidad_pedido) }}
                            </div>

                            <div class="col-md-4">
                                {{ form_row(linea.monto) }}
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <!-- <input class="btn btn-primary add_tag_link" style="height: 34px" type="submit" value="Guardar cambios"> !-->
                    <a data-dismiss="modal" class="btn btn-primary add_tag_link" style="margin: 0px 0px 20px 20px;" href="#"><span class="fa fa-plus-circle">Adicionar</i></a>

                </div>
                {{ form_rest(linea) }}
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>




{% endblock %}


{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('vendors/funciones_datetime_new.js') }}"></script>

    <script type="text/javascript">
        var collectionHolder = $('div#buseta_tallerbundle_compra_lineas');
        var $addTagLink = $('a.add_tag_link');

        jQuery(document).ready(function() {
            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            collectionHolder.data('index', collectionHolder.find('a.delete_tag_link').length);

            updateDeleteLink();
            updateView();

            function addTagForm(collectionHolder) {
                // Get the data-prototype explained earlier
                var prototype = collectionHolder.data('prototype');

                // get the new index
                var index = collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormDiv = $('<div></div>').append(newForm);
                collectionHolder.find('#tbody').append($newFormDiv);
                updateDeleteLink();
                updateView();
            }

            function updateDeleteLink(){
                $('a.delete_tag_link').on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $(this).parent().parent().remove();

                    actualizarMontoTotal();

                    updateView();
                });
            }

            function updateView(){
                counter = collectionHolder.find('a.delete_tag_link').length;
                if(counter == 0){
                    $('div#no-elements-tr').show();
                }else{
                    $('div#no-elements-tr').hide();
                }
            }

            function actualizarMontoTotal(){
                /*Obtener cada valor de las lineas y sumarlas a una variable*/
                var montototal = 0;
                $('[id^="buseta_tallerbundle_compra_lineas_"][id$="_monto"]').each(function(key, value){
                    montototal += parseInt($(value).val());
                });

                /*Actualizar el valor del monto de todas las lineas*/
                $('#buseta_tallerbundle_compra_importe_general').val(montototal);
                $('#buseta_tallerbundle_compra_importe_con_impuesto').val(montototal);
                $('#buseta_tallerbundle_compra_importe_libre_impuesto').val(montototal);
            }

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                var modal = $('#newLinea');

                // captura de valores del modal
                var linea_numero   = modal.find('#buseta_tallerbundle_linea_numero');
                var linea_tipo     = modal.find('#buseta_tallerbundle_linea_tipo');
                var linea_producto = modal.find('#buseta_tallerbundle_linea_producto');
                var linea_impuesto = modal.find('#buseta_tallerbundle_linea_impuesto');
                var linea_cantidad_pedido = modal.find('#buseta_tallerbundle_linea_cantidad_pedido');
                var linea_monto = modal.find('#buseta_tallerbundle_linea_monto');

                var index = collectionHolder.data('index');

                addTagForm(collectionHolder);

                $('#buseta_tallerbundle_compra_lineas_' + index + '_numero').val(linea_numero.val()).prop('readonly','readonly');
                $('#buseta_tallerbundle_compra_lineas_' + index + '_tipo').val(linea_tipo.val());
                $('#buseta_tallerbundle_compra_lineas_' + index + '_producto').val(linea_producto.val());
                $('#buseta_tallerbundle_compra_lineas_' + index + '_impuesto').val(linea_impuesto.val());
                $('#buseta_tallerbundle_compra_lineas_' + index + '_cantidad_pedido').val(linea_cantidad_pedido.val());

                var json = {{ json|raw }};
                //console.log(json);

                $.each(json, function(key,value){
                    if(key == linea_producto.val()){
                        var monto = value.precio_salida * linea_cantidad_pedido.val();
                        $('#buseta_tallerbundle_compra_lineas_' + index + '_monto').val(monto);
                    }
                });

                /*Obtener cada valor de las lineas y sumarlas a una variable*/
                actualizarMontoTotal();

                linea_numero.val('');
                linea_tipo.val('');
                linea_producto.val('');
                linea_impuesto.val('');
                linea_cantidad_pedido.val('');
                linea_monto.val('');
            });


        });



    </script>

{% endblock javascripts %}