{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Listado de compras
{% endblock %}

{% block titulo_encabezado %}
    Listado de compras
{% endblock %}

{% block area_trabajo %}

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('compra_new') }}"><i class="fa fa-plus-circle"></i> Adicionar compra</a>
    </div>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Número</th>
                <th>Tipo</th>
                <th>Fecha pedido</th>
                <th>Prioridad</th>
                <th>Importe general</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.numero }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{% if entity.fechapedido %}{{ entity.fechapedido|date('d/m/Y') }}{% endif %}</td>
                <td>
                    {% if entity.ordenprioridad == null %}
                        <span class="label label-danger">No tiene</span>
                    {% else %}
                        {% set prioridad = 'prioridad.' ~ entity.ordenprioridad %}
                        {{ prioridad | trans({},'BusetaTallerBundle') }}
                    {% endif %}
                </td>
                <td>{{ entity.importegeneral }}</td>
                <td>
                    {% if entity.estado == null %}
                        <span class="label label-danger">No tiene</span>
                    {% else %}
                        {% set estado = 'estado.' ~ entity.estado %}
                        {{ estado | trans({},'BusetaTallerBundle') }}
                    {% endif %}
                </td>
                <td  style="width: 18% !important; text-align: center;">
                    <div class="btn-group">
                        <a class="btn btn-success btn-xs" href="{{ path('compra_show', { 'id': entity.id }) }}"><i class="fa fa-search"> Mostrar</i></a>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-danger btn-xs" href="{{ path('compra_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"> Editar</i></a>
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No se encontraron registros de compras en el sistema.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

{% endblock %}
