{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Listado de compras
{% endblock %}

{% block titulo_encabezado %}
    Listado de compras
{% endblock %}

{% block area_trabajo %}

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('compra_new') }}"><i class="fa fa-plus-circle"></i> Adicionar compra</a>
    </div>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Número</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Fecha pedido</th>
                <th>Forma pago</th>
                <th>Moneda</th>
                <th>Condiciones pago</th>
                <th>Importe libre impuesto</th>
                <th>Importe con impuesto</th>
                <th>Importe general</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.numero }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{% if entity.fechapedido %}{{ entity.fechapedido|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.formapago }}</td>
                <td>{{ entity.moneda }}</td>
                <td>{{ entity.condicionespago }}</td>
                <td>{{ entity.importelibreimpuesto }}</td>
                <td>{{ entity.importeconimpuesto }}</td>
                <td>{{ entity.importegeneral }}</td>
                <td>{{ entity.estado }}</td>
                <td  style="width: 18% !important; text-align: center;">
                    <div class="btn-group">
                        <a class="btn btn-success btn-xs" href="{{ path('compra_show', { 'id': entity.id }) }}"><i class="fa fa-search"> Mostrar</i></a>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-danger btn-xs" href="{{ path('compra_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"> Editar</i></a>
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

{% endblock %}
