{% extends "BusetaTallerBundle::layout.html.twig" %}

{% trans_default_domain 'BusetaTallerBundle' %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Datos de la compra
{% endblock %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
        <tbody>
            <tr>
                <th>Número</th>
                <td>{{ entity.numero }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha pedido</th>
                <td>{{ entity.fechapedido|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Prioridad</th>
                <td>
                    {% if entity.ordenprioridad == null %}
                        <span class="label label-danger">No tiene</span>
                    {% else %}
                        {% set prioridad = 'prioridad.' ~ entity.ordenprioridad %}
                        {{ prioridad | trans({},'BusetaTallerBundle') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Forma pago</th>
                <td>
                    {% if entity.formapago == null %}
                        <span class="label label-danger">No tiene</span>
                    {% else %}
                        {% set formapago = 'forma_pago.' ~ entity.formapago %}
                        {{ formapago | trans({},'BusetaTallerBundle') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Moneda</th>
                <td>
                    {% if entity.moneda == null %}
                        <span class="label label-danger">No tiene</span>
                    {% else %}
                        {{ entity.moneda }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Condiciones pago</th>
                <td>{{ entity.condicionespago }}</td>
            </tr>
            <tr>
                <th>Importe libre impuesto</th>
                <td>{{ entity.importelibreimpuesto }}</td>
            </tr>
            <tr>
                <th>Importe con impuesto</th>
                <td>{{ entity.importeconimpuesto }}</td>
            </tr>
            <tr>
                <th>Importe general</th>
                <td>{{ entity.importegeneral }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>
                    {% if entity.estado == null %}
                        <span class="label label-danger">No tiene</span>
                    {% else %}
                        {% set estado = 'estado.' ~ entity.estado %}
                        {{ estado | trans({},'BusetaTallerBundle') }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Tercero (Nombres y apellidos)</th>
                <td>{{ entity.tercero.nombres }} {{ entity.tercero.apellidos }}</td>
            </tr>
            <tr>
                <th>Líneas existentes</th>
                <td>
                    <table class="table table-striped" style="font-size: 16px;">
                        <th>Número</th>
                        <th>Tipo</th>
                        <th>Producto</th>
                        <th>Impuesto</th>
                        <th>Cant. Pedido</th>
                        <th>Monto</th>
                        {% for linea in entity.lineas %}
                        <tbody>
                        <tr>
                            <td>{{ linea.numero }}</td>
                            <td>{{ linea.tipo }}</td>
                            <td>{{ linea.producto.nombre }}</td>
                            <td>{{ linea.impuesto.nombre }}</td>
                            <td>{{ linea.cantidadpedido }}</td>
                            <td>{{ linea.monto }}</td>
                        </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">
                                    <span class="label label-danger">No existen líneas disponibles</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <a class="btn btn-primary" href="{{ path('compra_edit', { 'id': entity.id }) }}"> Editar</a>
    </div>

    <div class="btn-group">
        <a class="btn btn-primary" href="{{ path('compra') }}"> Listado</a>
    </div>


{% endblock %}


{% block contenido %}


{% endblock %}