{% extends "BusetaBusesBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo %}
    Listado de autobuses
{% endblock %}

{% block titulo_encabezado %}
    Listados de autobuses
{% endblock %}

{% block area_trabajo %}


<div class="panel panel-default">
<div class="panel-body">
    <fieldset>
        <legend><h4>Búsqueda Avanzada</h4></legend>

        {{ form_errors(busqueda) }}

        <form action="{{ path('autobus') }}" method="get">
            <div class="row show-grid" style="padding-top: 0px">
                <div class="col-md-4">
                    <label>Matrícula:</label>
                    {{ form_widget(busqueda.matricula) }}
                </div>

                <div class="col-md-4">
                    <label>Marca de Autobús:</label>
                    {{ form_widget(busqueda.marca) }}
                </div>

                <div class="col-md-4">
                    <label>Color:</label>
                    {{ form_widget(busqueda.color) }}
                </div>
            </div>

            <div class="row show-grid">
                <div class="col-md-4">
                    <label>Estilo:</label>
                    {{ form_widget(busqueda.estilo) }}
                </div>

                <div class="col-md-4">
                    <label>Combustible:</label>
                    {{ form_widget(busqueda.combustible) }}
                </div>

                <div class="col-md-4">
                    <label>Marca de Motor:</label>
                    {{ form_widget(busqueda.marca_motor) }}
                </div>
            </div>

            <div class="row show-grid">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary btn-bg" value="Buscar" name="buscar">

                    <div class="btn-group">
                        <a class="btn btn-success btn-bg" href="{{ path('autobus') }}"><i class="fa fa-search"> Reiniciar Búsqueda</i></a>
                    </div>
                </div>
            </div>


        </form>
    </fieldset>
</div>
</div>
    <hr>

    <div class="btn-group" style="padding-bottom: 8px;">
        <a class="btn btn-primary" href="{{ path('autobus_new') }}"><i class="fa fa-plus-circle"></i> Adicionar Autobus</a>
    </div>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
            <tr>
                <th>Matricula</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Color</th>
                <th>Potencia</th>
                <th>Fecha Ingreso</th>
                <th>Valido Hasta</th>
                <th>Fecha RTV 1</th>
                <th>Fecha RTV 2</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.matricula }}</td>
                <td>{{ entity.marca }}</td>
                <td>{{ entity.modelo }}</td>
                <td>{{ entity.color }}</td>
                <td>{{ entity.potencia }}</td>
                <td>{% if entity.fechaingreso %}{{ entity.fechaingreso|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.validohasta %}{{ entity.validohasta|date('d/m/Y') }}{% endif %}</td>
                <td>{% if entity.fechartv1 %}{{ entity.fechartv1 }}{% endif %}</td>
                <td>{% if entity.fechartv2 %}{{ entity.fechartv2 }}{% endif %}</td>
                <td  style="width: 18% !important; text-align: center;">
                    <div class="btn-group">
                        <a class="btn btn-success btn-xs" href="{{ path('autobus_show', { 'id': entity.id }) }}"><i class="fa fa-search"> Mostrar</i></a>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-danger btn-xs" href="{{ path('autobus_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"> Editar</i></a>
                    </div>

                </td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="12">No se encontraron registros de autobuses en el sistema.</td>
                </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

    {% endblock %}
