{% extends "BusetaBusesBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Datos del autobús de matrícula: "{{ entity.matricula }}"
{% endblock %}

{% block area_trabajo %}
    <table class="table table-striped" style="font-size: 16px;">
        <tbody>
            <tr>
                <th>Imagen Lateral Izquierda</th>
                <td>
                    {% if entity.imagenlaterali == '' %}
                        <label style="color: red">El autobús no tiene Imagen Lateral Izquierda.</label>
                    {% else %}
                        {% set path = 'images/' ~ entity.imagenlaterali %}
                        <img src="{{ asset(path)}}" alt="Imagen lateral izquierda" class="imagen-autobus" />
                    {% endif %}
                </td>
                <th>Imagen Lateral Derecha</th>
                <td>
                    {% if entity.imagenlaterald == '' %}
                        <label style="color: red">El autobús no tiene Imagen Lateral Derecha</label>
                    {% else %}
                        {% set path = 'images/' ~ entity.imagenlaterald %}
                        <img src="{{ asset(path)}}" alt="Imagen lateral derecha" class="imagen-autobus" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Imagen Frontal</th>
                <td>
                    {% if entity.imagenfrontal == '' %}
                        <label style="color: red">El autobús no tiene Imagen Frontal</label>
                    {% else %}
                        {% set path = 'images/' ~ entity.imagenfrontal %}
                        <img src="{{ asset(path)}}" alt="Imagen frontal" class="imagen-autobus" />
                    {% endif %}
                </td>
                <th>Imagen Trasera</th>
                <td>
                    {% if entity.imagentrasera == '' %}
                        <label style="color: red">El autobús no tiene Imagen Trasera</label>
                    {% else %}
                        {% set path = 'images/' ~ entity.imagentrasera %}
                        <img src="{{ asset(path)}}" alt="Imagen trasera" class="imagen-autobus" />
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Matrícula</th>
                <td>{{ entity.matricula }}</td>
                <th>Número Chasis</th>
                <td>{{ entity.numerochasis }}</td>
            </tr>
            <tr>
                <th>Número Motor</th>
                <td>{{ entity.numeromotor }}</td>
                <th>Peso Tara</th>
                <td>{{ entity.pesotara }}</td>
            </tr>
            <tr>
                <th>Peso Bruto</th>
                <td>{{ entity.pesobruto }}</td>
                <th>Número Plazas</th>
                <td>{{ entity.numeroplazas }}</td>
            </tr>
            <tr>
                <th>Número Cilindros</th>
                <td>{{ entity.numerocilindros }}</td>
                <th>Cilindrada</th>
                <td>{{ entity.cilindrada }}</td>
            </tr>
            <tr>
                <th>Potencia</th>
                <td>{{ entity.potencia }}</td>
                <th>Fecha Ingreso</th>
                <td>{{ entity.fechaingreso|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Válido Hasta</th>
                <td>{{ entity.validohasta|date('d/m/Y') }}</td>
                <th>Número de Unidad</th>
                <td>
                    {% if entity.numerounidad == '' %}
                        <label style="color: red">El autobús no tiene N&uacute;mero de Unidad</label>
                    {% else %}
                        {{ entity.numerounidad }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Fecha RTV 1</th>
                <td>{{ entity.fechartv1 }}</td>
                <th>Fecha RTV 2</th>
                <td>{{ entity.fechartv2 }}</td>
            </tr>
            <tr>
                <th>Año</th>
                <td>
                    {% if entity.anno == '' %}
                        <label style="color: red">El autobús no tiene Año</label>
                    {% else %}
                        {{ entity.anno }}
                    {% endif %}
                </td>
                <th>Valor de Unidad</th>
                <td>
                    {% if entity.valorunidad == '' %}
                        <label style="color: red">El autobús no tiene Valor de Unidad</label>
                    {% else %}
                        {{ entity.valorunidad }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Marca Caja de Cambios</th>
                <td>
                    {% if entity.marcacajacambio == '' %}
                        <label style="color: red">El autobús no tiene Marca Caja de Cambios</label>
                    {% else %}
                        {{ entity.marcacajacambio }}
                    {% endif %}
                </td>
                <th>Tipo Caja de Cambios</th>
                <td>
                    {% if entity.tipocajacambio == '' %}
                        <label style="color: red">El autobús no tiene Tipo Caja de Cambios</label>
                    {% else %}
                        {{ entity.tipocajacambio }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <th>Carter Capacidad en Litros</th>
                <td>
                    {% if entity.cartercapacidadlitros == '' %}
                        <label style="color: red">El autobús no tiene Carter Capacidad en Litros</label>
                    {% else %}
                        {{ entity.cartercapacidadlitros }}
                    {% endif %}
                </td>
                <th>Bater&iacute;a 1</th>
                <td>
                    {% if entity.bateria1 == '' %}
                        <label style="color: red">El autobús no tiene Bater&iacute;a 1</label>
                    {% else %}
                        {{ entity.bateria1 }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Batería 2</th>
                <td>
                    {% if entity.bateria2 == '' %}
                        <label style="color: red">El autobús no tiene Bater&iacute;a 2</label>
                    {% else %}
                        {{ entity.bateria2 }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Rampas</th>
                <td>
                    {% if entity.rampas == '' %}
                        <label style="color: red">El autobús no tiene Rampas</label>
                    {% else %}
                        {{ entity.rampas }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Barras</th>
                <td>
                    {% if entity.barras == '' %}
                        <label style="color: red">El autobús no tiene Barras</label>
                    {% else %}
                        {{ entity.barras }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Cámaras</th>
                <td>
                    {% if entity.camaras == '' %}
                        <label style="color: red">El autobús no tiene Cámaras</label>
                    {% else %}
                        {{ entity.camaras }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Lector de Células</th>
                <td>
                    {% if entity.lectorcedulas == '' %}
                        <label style="color: red">El autobús no tiene Lector de Cédulas</label>
                    {% else %}
                        {{ entity.lectorcedulas }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Publicidad</th>
                <td>
                    {% if entity.publicidad == '' %}
                        <label style="color: red">El autobús no tiene Publicidad</label>
                    {% else %}
                        {{ entity.publicidad }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>GPS</th>
                <td>
                    {% if entity.gps == '' %}
                        <label style="color: red">El autobús no tiene GPS</label>
                    {% else %}
                        {{ entity.gps }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Wifi</th>
                <td>
                    {% if entity.wifi == '' %}
                        <label style="color: red">El autobús no tiene Wifi</label>
                    {% else %}
                        {{ entity.wifi }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>

            <tr>
                <th>Filtro de Aceite</th>
                <td>
                    {% if entity.filtroaceite == '' %}
                        <label style="color: red">El autobús no tiene Filtro de Aceite</label>
                    {% else %}
                        {{ entity.filtroaceite.filtroaceite1 }} - {{ entity.filtroaceite.filtroaceite2 }} - {{ entity.filtroaceite.filtroaceite3 }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Filtro de Agua</th>
                <td>
                    {% if entity.filtroagua == '' %}
                        <label style="color: red">El autobús no tiene Filtro de Agua</label>
                    {% else %}
                        {{ entity.filtroagua.filtroagua1 }} - {{ entity.filtroagua.filtroagua2 }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Filtro de Caja</th>
                <td>
                    {% if entity.filtrocaja == '' %}
                        <label style="color: red">El autobús no tiene Filtro de Caja</label>
                    {% else %}
                        {{ entity.filtrocaja.filtrocaja1 }} - {{ entity.filtrocaja.filtrocaja2 }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Filtro de Diesel</th>
                <td>
                    {% if entity.filtrodiesel == '' %}
                        <label style="color: red">El autobús no tiene Filtro de Diesel</label>
                    {% else %}
                        {{ entity.filtrodiesel.filtrodiesel1 }} - {{ entity.filtrodiesel.filtrodiesel2 }} - {{ entity.filtrodiesel.filtrodiesel3 }} - {{ entity.filtrodiesel.filtrodiesel4 }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Filtro Hidr&aacute;ulico</th>
                <td>
                    {% if entity.filtrohidraulico == '' %}
                        <label style="color: red">El autobús no tiene Filtro Hidr&aacute;ulico</label>
                    {% else %}
                        {{ entity.filtrohidraulico.filtrohidraulico1 }} - {{ entity.filtrohidraulico.filtrohidraulico2 }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Filtro de Transmisi&oacute;n</th>
                <td>
                    {% if entity.filtrotransmision == '' %}
                        <label style="color: red">El autobús no tiene Filtro de Transmisi&oacute;n</label>
                    {% else %}
                        {{ entity.filtrotransmision.filtrotransmision }}
                    {% endif %}
                </td>
                <th></th>
                <td></td>
            </tr>
            <tr>
                <th>Archivos adjuntos</th>
                <td colspan="2">
                    {% for archivo in entity.archivoadjunto %}
                            {% set path = 'files/' ~ archivo.valor %}
                            <a class="bg-warning" href="{{ asset(path) }}"> {{ archivo.valor }} </a>
                        {% else %}
                            <label style="color: red">El autobús no tiene archivos adjuntos</label>
                    {% endfor %}
                </td>
                <th></th>
                <td></td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group">
        <a class="btn btn-primary" href="{{ path('autobus_edit', { 'id': entity.id }) }}"> Editar</a>
    </div>

    <div class="btn-group">
        <a class="btn btn-primary" href="{{ path('autobus') }}"> Listado</a>
    </div>

    <div class="btn-group">
        <form action="{{ path('autobus_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-primary" type="submit">Eliminar</button>
        </form>
    </div>

{% endblock %}


{% block contenido %}


{% endblock %}
