{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Adicionar nueva línea
{% endblock %}

{% block area_trabajo %}

    <form action="{{ path('impuesto_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="row show-grid">
            <div class="col-md-4">
                <label>Número:</label>
                {{ form_widget(form.numero) }}
            </div>

            <div class="col-md-4">
                <label>Tipo:</label>
                {{ form_widget(form.tipo) }}
            </div>

            <div class="col-md-4">
                <label>Producto:</label>
                {{ form_widget(form.producto) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">
                <label>Impuesto:</label>
                {{ form_widget(form.impuesto) }}
            </div>

            <div class="col-md-4">
                <label>Cantidad de pedido:</label>
                {{ form_widget(form.cantidad_pedido) }}
            </div>

            <div class="col-md-4">
                <label>Monto:</label>
                {{ form_widget(form.monto) }}
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('impuesto') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}