{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Datos del tercero: "{{ entity.nombres }}"
{% endblock %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
        <tbody>

            <tr>
                <th>Código</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Alias</th>
                <td>{{ entity.alias }}</td>
            </tr>
            <tr>
                <th>Cliente</th>
                <td style="color: red;">
                    {% if entity.cliente == null %}
                        No tiene cliente
                    {% else %}
                        Sí tiene cliente
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Institución</th>
                <td style="color: red;">
                    {% if entity.institucion == null %}
                        No tiene institución
                    {% else %}
                        Sí tiene institución
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Proveedor</th>
                <td style="color: red;">
                    {% if entity.proveedor == null %}
                        No tiene proveedor
                    {% else %}
                        Sí tiene proveedor
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>
                    {% if entity.activo == 1 %}
                        Sí
                    {% else %}
                        No
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>


    <div class="form-actions">
        {{ form_start(delete_form) }}
            <a class="btn btn-primary" href="{{ path('tercero_edit', { 'id': entity.id }) }}"> Editar</a>
            <a class="btn btn-primary" href="{{ path('tercero') }}"> Listado</a>
            <button type="sumbit" class="btn btn-primary">Eliminar</button>
        {{ form_end(delete_form) }}
    </div>

{% endblock %}


