{% extends "BusetaTallerBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Modificar datos del impuesto: "{{ entity.nombre }}"
{% endblock %}

{% block area_trabajo %}

    <form action="{{ path('impuesto_update',{'id':entity.id}) }}" method="post" {{ form_enctype(edit_form) }}>

        <div class="row show-grid">
            <div class="col-md-4">
                <label>Nombre:</label>
                {{ form_widget(edit_form.nombre) }}
            </div>
            <div class="col-md-4">
                <label>Número:</label>
                {{ form_widget(edit_form.numero) }}
            </div>
            <div class="col-md-4">
                <label>Tipo:</label>
                {{ form_widget(edit_form.tipo) }}
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-md-4">
                <label>Tarifa:</label>
                {{ form_widget(edit_form.tarifa) }}
            </div>
        </div>


        <div class="row show-grid">
            <div class="col-md-4">

                <input class="btn btn-primary" style="height: 34px" type="submit" value="Aceptar">
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ path('impuesto') }}"> Cancelar</a>
                </div>
            </div>
        </div>

        {{ form_rest(edit_form) }}
    </form>

{% endblock %}


{% block contenido %}

{% endblock %}
