{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Datos del movimiento del producto
{% endblock %}

{% block area_trabajo %}

    <table class="table table-striped" style="font-size: 16px;">
    <tbody>

    <tr>
        <th>Producto</th>
        <td>{{ entity.producto }}</td>
    </tr>
    <tr>
        <th>Cantidad</th>
        <td>{{ entity.cantidadProductos }}</td>
    </tr>
    <tr>
        <th>Movido a</th>
        <td>{{ entity.movidoA }}</td>
    </tr>
    <tr>
        <th>Fecha de movimiento</th>
        <td>{{ entity.fechaMovimiento|date('d/m/Y')  }}</td>
    </tr>
    <tr>
        <th>Realizado por</th>
        <td>{{ entity.movidoBy  }}</td>
    </tr>
    <tr>
        <th>Descripción</th>
        <td>{{ entity.descripcion  }}</td>
    </tr>

    </tbody>
    </table>

    <div class="btn-group">
        <a class="btn btn-primary" href="{{ path('movimiento') }}"> Listado</a>
    </div>

{% endblock %}


{% block contenido %}


{% endblock %}
