{% extends "BusetaBodegaBundle::layout.html.twig" %}

{% block nombre_menu_superior %}

{% endblock %}

{% block titulo_encabezado %}
    Informe stock
{% endblock %}

{% block area_trabajo %}

    <form action="{{ path('bodega_informe_stock') }}" method="get">

        <div class="row show-grid">
            <div class="col-md-4">
                {{ form_row(busqueda.producto) }}
            </div>

            <div class="col-md-4">
                {{ form_row(busqueda.categoria) }}
            </div>
        </div>


        <div class="row show-grid">
            <div class="col-md-4">
                <input class="btn btn-primary" style="height: 34px" type="submit" value="Generar informe">

            </div>
        </div>

    {{ form_end(busqueda) }}

    <hr>

    <label style="float: right;"> Fecha de informe: {{ fecha |date('d/m/Y')  }} </label>

    <table class="records_list table table-striped table-bordered table-condensed table-hover">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.codigo }}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.categoria }}</td>
                <td  style="width: 18% !important; text-align: center;">
                    <div class="btn-group">
                        <a class="btn btn-success btn-xs" href="{{ path('producto_show', { 'id': entity.id }) }}"><i class="fa fa-search"> Mostrar</i></a>
                    </div>

                    <div class="btn-group">
                        <a class="btn btn-danger btn-xs" href="{{ path('producto_edit', { 'id': entity.id }) }}"><i class="fa fa-edit"> Editar</i></a>
                    </div>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">No se encontraron registros de productos en el sistema.</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>


{% endblock %}


{% block contenido %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendors/funciones_datetime_new.js') }}"></script>


{% endblock javascripts %}